# Data Science Tool and Ecosystem

In this notebook, Data Science Tool and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some libraries used by Data Scientist
- Display a table with three development environment open source tool used in data science
- Display a simple arithmetic expression
- Convert minutes to hours

Some of the popular language that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly use libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn
4. Scikit-learn
5. TensorFlow

|Data Science Tools|
|------------------|
|JupyterLab|
|GitHub|
|Anaconda|

### Below are few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add 
#interger
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tahsine K. SALAMI